%ul
  %li= link_to 'Doctors', users_path
  %li= link_to 'Treatment plans', patients_path
  %li= link_to 'Treatments', treatments_path
  %li= link_to 'Patients', patients_path
  %li= link_to 'Calendar', patients_path
