%h1 Doctors

= link_to 'New doctor', new_user_path, class: 'btn btn-primary'

%table.table.table-striped.table-bordered.data-table.margin-top
  %tr
    %th First name
    %th Last name
    %th Email
    %th Doctor
    %th Admin
    %th Actions

  - @users.each do |user|
    %tr
      %td= link_to user.first_name, edit_user_path(user)
      %td= user.last_name
      %td= user.email
      %td= user.doctor
      %td= user.admin
      %td
        = link_to edit_user_path(user), class: 'btn btn-warning', title: 'Edit' do
          %i.fa.fa-edit
