= bootstrap_form_for @patient do |f|
  = f.text_field :first_name

  = f.text_field :last_name

  = f.text_field :address

  = f.text_field :zip

  = f.text_field :city

  = f.text_field :birthday

  = f.text_field :social_security_number

  = f.text_field :email

  = f.text_field :phone_number

  = f.select :gender, Patient::VALID_GENDERS

  = f.select :user_id, @doctors

  = f.primary

  .margin-bottom
